<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Search</title>
</head>
<body>
    <h1>OMDb API Testing</h1>

    <form action="/movies" method="GET">
        <input type="text" name="q" placeholder="Search movies..." />
        <button type="submit">Search</button>
    </form>
</body>
</html>